body > header{
  background-color: #E8E6CE;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  width: 100%;
  padding:1rem;
}
header h2{
  font-weight: normal;
}
header span{
  font-weight: bold;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center; 
}

  