nav{
  width:100%;
  display:flex;
  align-items: center;
  justify-content:space-between;
  background-color: #E8E6CE;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  height: 150px;
  color:#fff;
  height: 120px;
  padding:2.5rem 1.5rem;
  position: sticky;
  top: 0;
}
.logo{
  font-size: 24px;
  font-family:"Bungee", cursive; 
}
nav button .bold {
  font-weight:700;
}

nav button i{
  color:#E8E6CE;
}
nav button {
  background:transparent;
  border:none;
  display:flex;
  flex-direction:column;
}

nav button:hover > span{
  color:#fff;
}
nav button:hover i{
  color:#000;
}
