
.new-tweet form{
  display:block;
}
.new-tweet label{
  display:block;
}
.new-tweet textarea{
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #4e4e4e;
}
.new-tweet div{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-family:"Bungee", cursive; 
}

.new-tweet div .error{
  color:red;
}

.new-tweet button{
  border:none;
  background-color: #6D9B91;
  padding:0.5rem 1rem;
  
}

.new-tweet button:hover{
  background-color:transparent;
  border: #6D9B91 solid 1px;
  transition: all 0.5s ease-in;
  
}

.tweet-container{
  border: 3px solid #4e4e4e;
  padding:0.5rem;
  font-weight: 300;
}
.tweet-container header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.tweet-container header > p{
  visibility: hidden;
}

.tweet-container header,
.tweet-container > div,
.tweet-container footer > div{
  margin:0 1.5rem;
}

.tweet-container footer > div {
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.tweet-container footer{
  border-top: 3px solid #4e4e4e;
  font-size:15px;
}

.tweet-container:hover header > p{
  visibility: visible;;
  color:#d6d6d6;
}

.tweet-container:hover{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
}