
.error{
  color:red;
}
.error-panel{
  border: 3px solid red;
  display:none;
}
.error-panel .error{
  margin:0.5rem;
}
.compose-tweet{
  display:none;
}
.compose-tweet form{
  display:block;
}
.compose-tweet label{
  display:block;
}
.compose-tweet textarea{
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #4e4e4e;
}
#new-tweet div{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-family:"Bungee", cursive; 
}
.compose-tweet button{
  border:none;
  background-color: #6D9B91;
  padding:0.5rem 1rem;
  
}
.compose-tweet button:hover{
  background-color:transparent;
  border: #6D9B91 solid 1px;
  transition: all 0.5s ease-in;
  
}
.tweet-container .tweet{
  border: 3px solid #4e4e4e;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.tweet header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.tweet .user-name{
  margin-left:0.5rem;
}
.tweet header > p{
  visibility: hidden;
}
.tweet header,
.tweet > div,
.tweet footer > div{
  margin:0 1.5rem;
}
.tweet > div{
  font-size: 24px;
}
.tweet footer > div {
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.tweet footer{
  border-top: 3px solid #4e4e4e;
  font-size:12px;
}
.tweet footer i:hover{
  color:#6D9B91;
}
.tweet-container .tweet:hover header > p{
  visibility: visible;;
  color:#d6d6d6;
}
.tweet-container .tweet:hover{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
}

/* Media Queries*/

/*Desktop*/
@media only screen and (min-width: 1024px) {
  body{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    justify-content: space-between;
  }
  nav{
    background-color:#6D9B91;
    background-image: none;
  }
  .logo{
    color:#fff;
  }
  nav button i{
    color:#E8E6CE;
  }
  nav button:hover i{
    color:#d6d6d6;
    
  }
  body > header{
    width: 33%;
    margin: 1.5rem 2rem;
  }
  main{
    width: 50%;
    margin: 0;
    margin:1.5rem 2rem;
  }
}