
.compose-tweet form{
  display:block;
}
.compose-tweet label{
  display:block;
}
.compose-tweet textarea{
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  border:none;
  border-bottom: 3px solid #4e4e4e;
}
.compose-tweet div{
  display:flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-family:"Bungee", cursive; 
}

.compose-tweet div .error{
  color:red;
}

.compose-tweet button{
  border:none;
  background-color: #6D9B91;
  padding:0.5rem 1rem;
  
}

.compose-tweet button:hover{
  background-color:transparent;
  border: #6D9B91 solid 1px;
  transition: all 0.5s ease-in;
  
}

.tweet-container .tweet{
  border: 3px solid #4e4e4e;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.tweet header{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.tweet header > p{
  visibility: hidden;
}

.tweet header,
.tweet > div,
.tweet footer > div{
  margin:0 1.5rem;
}

.tweet footer > div {
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.tweet footer{
  border-top: 3px solid #4e4e4e;
  font-size:15px;
}

.tweet-container .tweet:hover header > p{
  visibility: visible;;
  color:#d6d6d6;
}

.tweet-container .tweet:hover{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
  box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
}